---
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import HeaderBreadcrumbs from "../../components/header/HeaderBreadcrumbs.astro";
import HeaderStar from "../../components/header/HeaderStar.astro";
import PageHeader from "../../components/header/PageHeader.astro";
import NewsItemsWidget from "../../components/NewsItemsWidget.astro";
import TypographyLink from "../../components/typography/TypographyLink.astro";
import Base from "../../layouts/Base.astro";

// TODO: Update schemaData
// TODO: Make the header a component so we can't forget to update the mobile version of the content

const schemaData = {
  "@context": "https://schema.org",
  "@type": "Event",
  additionalType: "ExhibitionEvent",
  url: "https://2026.pycon.org.au/",
  name: "PyCon AU 2026",
  description:
    "PyCon AU is Australia's national conference for everyone using the Python programming language and is a must-attend event for hundreds of technologists worldwide.",
  startDate: "2026-08-26",
  endDate: "2026-08-30",
  about: {
    "@type": "ComputerLanguage",
    name: "Python",
    url: "https://www.python.org/",
  },
  location: {
    "@type": "Place",
    name: "Sofitel Brisbane Central",
    url: "https://www.sofitelbrisbane.com.au/",
    address: {
      "@type": "PostalAddress",
      streetAddress: "249 Turbot Street",
      addressLocality: "Brisbane City",
      postalCode: "4000",
      addressRegion: "QLD",
      addressCountry: "AU",
    },
  },
  eventAttendanceMode: "https://schema.org/MixedEventAttendanceMode",
  inLanguage: "en-AU",
  offers: [
    {
      "@type": "Offer",
      availability: "https://schema.org/InStock",
      url: "https://pretix.eu/pyconau/2026/",
    },
  ],
  superEvent: {
    "@type": "EventSeries",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    organizer: {
      "@id": "#organization",
    },
    sameAs: "https://www.wikidata.org/wiki/Q134350078",
  },
  organizer: {
    "@id": "#organization",
    "@type": "Organization",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    sameAs: [
      "https://mastodon.pycon.org.au/@pyconau",
      "https://bsky.app/profile/pyconau.bsky.social",
      "https://www.linkedin.com/company/pyconau/",
    ],
  },
  sameAs: ["https://www.wikidata.org/wiki/Q136290798"],
};
---

<Base title="PyCon AU 2026" schemaData={schemaData}>
  <PageHeader dark={true} starColour="lavender">
    <HeaderBreadcrumbs colour="lemon" />
    <div
      class="flex flex-col lg:flex-row justify-between items-center relative pt-10"
    >
      <div class="space-y-20 lg:w-[45%] w-full relative fadeInUp">
        <div class="font-serif text-8xl text-[3.625rem] -tracking-[0.022em]">
          <h1 class="text-lemon">About</h1>
          <h2 class="text-white">PyCon AU</h2>
        </div>
        <p
          class="hidden lg:block text-stone font-sans font-base tracking-[0.01em] leading-normal lg:w-[454px]"
        >
          The PyCon AU community prides itself on being warm, inclusive and
          welcoming to everyone, at any level of experience. Our speakers range
          from industry veterans, to first-time speakers.
        </p>
        <img
          src="/images/star-coral.svg"
          class="spin absolute -right-10 bottom-0 hidden lg:block"
          alt=""
        />
      </div>
      <div class="lg:w-1/2 w-full fadeInUp">
        <div class="group flex justify-center relative">
          <img
            src="/images/about-pycon.svg"
            alt="pycon"
            class="lg:absolute top-1/2 lg:-translate-y-1/2 left-1/2 lg:-translate-x-1/2 lg:pb-0 pb-14"
          />
          <!-- <img src="/images/about-banner.png" class="w-[408px] mx-auto group-hover:visible invisible group-hover:opacity-100 opacity-0 transition-all duration-300" alt="About Banner"> -->
        </div>
        <p
          class="lg:hidden block text-stone font-sans font-base tracking-[0.01em] leading-normal lg:w-[454px]"
        >
          The PyCon AU community prides itself on being warm, inclusive and
          welcoming to everyone, at any level of experience. Our speakers range
          from industry veterans, to first-time speakers.
        </p>
      </div>
    </div>
  </PageHeader>

  <section>
    <div class="header-divider"></div>

    <div class="bg-stone pt-20">
      <div class="container">
        <div class="lg:w-[85%] w-full mx-auto">
          <div
            class="fadeInUp flex flex-col lg:flex-row gap-y-10 lg:gap-y-0 justify-between items-start"
          >
            <p class="text-intro font-medium w-full text-charcoal lg:w-[506px]">
              PyCon AU is a labour of love, run independently by an
              all-volunteer team. The legal and financial structure is provided
              by <TypographyLink href="https://linux.org.au/"
                >Linux Australia Inc.</TypographyLink
              >, a not-for-profit body registered under the Associations
              Incorporation Act (NSW) 2009.
            </p>
            <div>
              <a
                href="/tickets"
                class="btn-arrow btn-arrow--emerald gap-20! hover:gap-24!"
                >Early-Bird Tickets</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="custom-bg"
    class="pt-20 relative after:content-[''] after:absolute after:z-10 after:top-[25%] after:left-0 after:w-full after:h-full after:bg-[url('/images/bg-pattern.svg')] after:bg-cover after:bg-center after:bg-no-repeat"
  >
    <div class="container relative z-20">
      <div class="grid lg:grid-cols-3 grid-cols-1 gap-5">
        <a
          href="/about/the-conference"
          class="fadeInUp rounded-t-[3.125rem] block overflow-hidden group hover:rounded-b-[3.125rem] transition-all duration-300"
        >
          <div class="bg-violet">
            <img
              src="/images/about-thumb-1.png"
              class="rounded-b-[3.125rem]"
              alt="thumbnail"
            />
          </div>
          <div
            class="flex items-center justify-between pt-5 pb-7 px-7 bg-violet group-hover:px-10 transition-all duration-300"
          >
            <h3 class="text-2xl font-sans font-medium text-white">
              The Conference
            </h3>
            <svg
              class="fill-white"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="48.229"
              height="29.772"
              viewBox="0 0 48.229 29.772"
            >
              <defs>
                <clipPath id="a">
                  <rect
                    width="48.229"
                    height="29.772"
                    fill="none"
                    stroke="#fff"
                    stroke-width="3"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#a)">
                <path
                  d="M45.469,1.5H0v-3H45.469Z"
                  transform="translate(0 14.886)"
                  fill="#fff"></path>
                <path
                  d="M26.347,29.772h-3a16.4,16.4,0,0,1,9.528-14.887,16.328,16.328,0,0,1-4.728-3.3,16.328,16.328,0,0,1-3.511-5.208A16.284,16.284,0,0,1,23.347,0h3a13.3,13.3,0,0,0,3.92,9.465,13.3,13.3,0,0,0,9.465,3.92v3A13.385,13.385,0,0,0,26.347,29.772Z"
                  transform="translate(8.497 0.001)"></path>
              </g>
            </svg>
          </div>
        </a>
        <a
          href="/about/culture-and-community"
          class="fadeInUp lg:translate-y-10! rounded-t-[3.125rem] block overflow-hidden group hover:rounded-b-[3.125rem] transition-all duration-300"
        >
          <div class="bg-lavender">
            <img
              src="/images/about-thumb-2.png"
              class="rounded-b-[3.125rem]"
              alt="thumbnail"
            />
          </div>
          <div
            class="flex items-center justify-between pt-5 pb-7 px-7 bg-lavender group-hover:px-10 transition-all duration-300"
          >
            <h3 class="text-2xl font-sans font-medium text-white">
              Culture & Community
            </h3>
            <svg
              class="fill-white"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="48.229"
              height="29.772"
              viewBox="0 0 48.229 29.772"
            >
              <defs>
                <clipPath id="a">
                  <rect
                    width="48.229"
                    height="29.772"
                    fill="none"
                    stroke="#fff"
                    stroke-width="3"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#a)">
                <path
                  d="M45.469,1.5H0v-3H45.469Z"
                  transform="translate(0 14.886)"
                  fill="#fff"></path>
                <path
                  d="M26.347,29.772h-3a16.4,16.4,0,0,1,9.528-14.887,16.328,16.328,0,0,1-4.728-3.3,16.328,16.328,0,0,1-3.511-5.208A16.284,16.284,0,0,1,23.347,0h3a13.3,13.3,0,0,0,3.92,9.465,13.3,13.3,0,0,0,9.465,3.92v3A13.385,13.385,0,0,0,26.347,29.772Z"
                  transform="translate(8.497 0.001)"></path>
              </g>
            </svg>
          </div>
        </a>
        <a
          href="/about/our-team"
          class="fadeInUp rounded-t-[3.125rem] block overflow-hidden group hover:rounded-b-[3.125rem] transition-all duration-300"
        >
          <div class="bg-violet">
            <img
              src="/images/about-thumb-3.png"
              class="rounded-b-[3.125rem]"
              alt="thumbnail"
            />
          </div>
          <div
            class="flex items-center justify-between pt-5 pb-7 px-7 bg-violet group-hover:px-10 transition-all duration-300"
          >
            <h3 class="text-2xl font-sans font-medium text-white">Our Team</h3>
            <svg
              class="fill-white"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="48.229"
              height="29.772"
              viewBox="0 0 48.229 29.772"
            >
              <defs>
                <clipPath id="a">
                  <rect
                    width="48.229"
                    height="29.772"
                    fill="none"
                    stroke="#fff"
                    stroke-width="3"></rect>
                </clipPath>
              </defs>
              <g clip-path="url(#a)">
                <path
                  d="M45.469,1.5H0v-3H45.469Z"
                  transform="translate(0 14.886)"
                  fill="#fff"></path>
                <path
                  d="M26.347,29.772h-3a16.4,16.4,0,0,1,9.528-14.887,16.328,16.328,0,0,1-4.728-3.3,16.328,16.328,0,0,1-3.511-5.208A16.284,16.284,0,0,1,23.347,0h3a13.3,13.3,0,0,0,3.92,9.465,13.3,13.3,0,0,0,9.465,3.92v3A13.385,13.385,0,0,0,26.347,29.772Z"
                  transform="translate(8.497 0.001)"></path>
              </g>
            </svg>
          </div>
        </a>
      </div>

      <div class="fadeInUp grid lg:grid-cols-2 grid-cols-1 gap-5 pt-32">
        <a href="/attend/" class="btn-arrow btn-arrow--emerald btn-arrow--2col"
          ><span>Attendee Guide</span></a
        >
        <a
          href="/attend/conduct"
          class="btn-arrow btn-arrow--emerald btn-arrow--2col"
          ><span>Code of Conduct</span></a
        >
      </div>

      <div class="bg-lavender text-white py-14 rounded-[3.125rem] gap-14 mt-20">
        <div
          class="fadeInUp flex flex-col lg:flex-row gap-10 justify-between w-[85%] mx-auto"
        >
          <div class="lg:w-1/2 w-full">
            <h3
              class="text-5xl font-serif font-regular -tracking-[0.02em] leading-[1.2]"
            >
              Get involved and volunteer at PyCon AU 2026
            </h3>
          </div>
          <div class="lg:w-[45%] w-full space-y-10">
            <p>
              PyCon AU is a grass-roots, community-driven event. It needs
              bright, enthusiastic people - like you - to make it a success!
            </p>
            <div>
              <a href="/attend/volunteer" class="btn btn--lime">Learn more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <NewsItemsWidget />

  <section class="bg-[#313131]">
    <div class="footer-divider"></div>
    <div class="container">
      <div class="grid lg:grid-cols-3 grid-cols-1 gap-5 pt-20 pb-32">
        <div
          class="fadeInUp bg-emerald text-white rounded-[3.125rem] text-center p-10 flex justify-center"
        >
          <div
            class="flex flex-col lg:w-[80%] w-full gap-7 justify-between h-full"
          >
            <div class="space-y-4">
              <h3
                class="text-5xl font-serif font-normal -tracking-[0.02em] leading-[1.1]"
              >
                Connect
              </h3>
              <p class="mx-auto font-sans leading-tight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <div class="flex gap-3 justify-center">
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[40px] text-emerald"
                ><i class="fa-brands fa-linkedin-in"></i></a
              >
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[35px] text-emerald"
                ><i class="fa-brands fa-bluesky"></i></a
              >
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[40px] text-emerald"
                ><i class="fa-brands fa-mastodon"></i></a
              >
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[40px] text-emerald"
                ><i class="fa-brands fa-youtube"></i></a
              >
            </div>
          </div>
        </div>
        <div
          class="fadeInUp lg:translate-y-7! bg-violet text-white rounded-[3.125rem] text-center p-10 flex justify-center"
        >
          <div
            class="flex flex-col lg:gap-0 gap-10 lg:w-[67%] w-full justify-between h-full"
          >
            <div class="space-y-4">
              <h3
                class="text-5xl font-serif font-normal -tracking-[0.02em] leading-[1.1]"
              >
                Subscribe
              </h3>
              <p class="mx-auto font-sans leading-tight">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
            <a href="#" class="btn btn--stone">Sign Up</a>
          </div>
        </div>
        <div
          class="fadeInUp bg-lavender text-white rounded-[3.125rem] text-center p-10 flex justify-center"
        >
          <div
            class="flex flex-col lg:gap-0 gap-10 lg:w-[80%] w-full justify-between h-full"
          >
            <div class="space-y-4">
              <h3
                class="text-5xl font-serif font-normal -tracking-[0.02em] leading-[1.1]"
              >
                Get in touch
              </h3>
              <p class="mx-auto font-sans leading-tight">
                Sed eiusmod tempor incididunt lorem ipsum dolor sit amet.
              </p>
            </div>
            <a
              href="#"
              class="underline text-lg font-sans hover:text-lime transition-all duration-300"
              >contact@pycon.org.au</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />

  <!-- Main scripts (will be added in Phase 5) -->
  <script src="/src/scripts/animations.js"></script>
</Base>
