# build output
dist/
# generated types
.astro/

# generated session graphics
public/graphics/sessions/

# dependencies
node_modules/

# python cache
__pycache__/


# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
.vercel
