@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply
      text-sm
      font-inter
      leading-[1.3]
      bg-brand-neutral;
  }
}

@layer components {
  .btn {
  @apply
    2xl:text-[1.375rem]
    2xl:leading-[1.36]
    lg:text-sm
    lg:leading-[1.18]
    flex
    justify-center
    items-center
    text-base
    font-jakarta 
    font-extrabold 
    py-3 
    lg:px-10 
    px-5
    rounded-[1.8rem]
    transition-all duration-300;
}

.btn-outline {
  @apply 
    border-2 
    border-black 
    text-black
    hover:bg-black hover:text-white;
}
.btn-primary {
  @apply 
    bg-brand-dark 
    text-pycon-accent 
    hover:bg-brand-accent hover:text-brand-dark;
}
.btn-secondary {
  @apply
    text-base
    font-semibold
    no-underline
    bg-pycon-accent
    text-brand-dark
    hover:bg-brand-dark hover:text-pycon-accent
    hover:visited:bg-brand-dark hover:visited:text-pycon-accent
    active:bg-brand-dark active:text-pycon-accent
    visited:bg-pycon-accent visited:text-brand-dark
    transition-colors duration-300;
}
.input-field {
  @apply
    lg:rounded-none 
    rounded-[2.3rem] 
    outline-none 
    lg:text-left
    text-center     
    w-full 
    lg:h-full 
    h-[50px] 
    lg:pl-10 
    placeholder:text-[#7E7E7E] 
    text-[#7E7E7E] 
    bg-[#FAFAFA] 
    font-jakarta
    2xl:text-xl
    lg:text-lg 
    text-sm 
    2xl:placeholder:text-xl 
    lg:placeholder:text-lg 
    placeholder:text-sm;
}

.bg-separator {
  @apply
    bg-gradient-to-b 
    from-transparent 
    from-50% 
    to-brand-gray 
    to-50%
    relative
    lg:h-[620px]
    h-[267px]
    overflow-hidden
    after:content-[''] 
    after:absolute 
    after:top-0 
    after:left-1/2
    after:-translate-x-1/2
    after:bg-[url('/section-separator.svg')]
    after:bg-contain
    after:bg-center
    after:w-[7090px]
    after:h-full
    -mb-[0.5px];
}

.bg-pattern {
  @apply
    relative
    overflow-hidden
    after:content-['']
    after:absolute
    after:bottom-0
    after:left-1/2
    after:-translate-x-1/2
    after:w-[110%]
    after:h-[80%]
    after:bg-[url('/bg-pattern.svg')]
    after:bg-cover
    after:bg-top
    after:bg-no-repeat
    after:-z-0;
  }
}