---
import AboutNavItem from "./AboutNavItem.astro";
---

<div class="lg:w-[308px] w-full">
  <div class="bg-emerald rounded-[3.125rem]">
    <div class="side-nav bg-lime rounded-[3.125rem] p-10 -translate-y-5">
      <a href="/about/">
        <h3 class="text-intro font-semibold">About</h3>
      </a>
      <ul class="font-medium font-sans text-charcoal space-y-4 mt-8">
        <AboutNavItem href="/about/the-conference">
          The Conference
        </AboutNavItem>
        <AboutNavItem href="/about/culture-and-community">
          Culture & Community
        </AboutNavItem>
        <AboutNavItem href="/about/our-team"> Our Team </AboutNavItem>
        <AboutNavItem href="/news"> News & Updates </AboutNavItem>
        <AboutNavItem href="/attend/volunteer"> Volunteer </AboutNavItem>
      </ul>
    </div>
  </div>
</div>
