---
import { getCollection } from "astro:content";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import HomeSectionDivider from "../components/home/HomeSectionDivider.astro";
import Bold from "../components/typography/Bold.astro";
import Base from "../layouts/Base.astro";
import LongDate from "../components/typography/LongDate.astro";
import DetailArrow from "../components/DetailArrow.astro";
import HomePageArrow from "../components/HomePageArrow.astro";
import ImageCard from "../components/typography/ImageCard.astro";
import NewsItemsWidget from "../components/NewsItemsWidget.astro";

const schemaData = {
  "@context": "https://schema.org",
  "@type": "Event",
  additionalType: "ExhibitionEvent",
  url: "https://2026.pycon.org.au/",
  name: "PyCon AU 2026",
  description:
    "PyCon AU is Australia's national conference for everyone using the Python programming language and is a must-attend event for hundreds of technologists worldwide.",
  startDate: "2026-08-26",
  endDate: "2026-08-30",
  about: {
    "@type": "ComputerLanguage",
    name: "Python",
    url: "https://www.python.org/",
  },
  location: {
    "@type": "Place",
    name: "Sofitel Brisbane Central",
    url: "https://www.sofitelbrisbane.com.au/",
    address: {
      "@type": "PostalAddress",
      streetAddress: "249 Turbot Street",
      addressLocality: "Brisbane City",
      postalCode: "4000",
      addressRegion: "QLD",
      addressCountry: "AU",
    },
  },
  eventAttendanceMode: "https://schema.org/MixedEventAttendanceMode",
  inLanguage: "en-AU",
  offers: [
    {
      "@type": "Offer",
      availability: "https://schema.org/InStock",
      url: "https://pretix.eu/pyconau/2026/",
    },
  ],
  superEvent: {
    "@type": "EventSeries",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    organizer: {
      "@id": "#organization",
    },
    sameAs: "https://www.wikidata.org/wiki/Q134350078",
  },
  organizer: {
    "@id": "#organization",
    "@type": "Organization",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    sameAs: [
      "https://mastodon.pycon.org.au/@pyconau",
      "https://bsky.app/profile/pyconau.bsky.social",
      "https://www.linkedin.com/company/pyconau/",
    ],
  },
  sameAs: ["https://www.wikidata.org/wiki/Q136290798"],
};
---

<Base title="PyCon AU 2026" schemaData={schemaData}>
  <Header dark={false} />

  <section class="bg-stone fadeInUp h-[calc(100vh-210px)] pt-[98px]">
    <div class="container flex items-center justify-center relative h-full">
      <div class="flex flex-col gap-12 justify-center items-center">
        <div class="space-y-5">
          <h1 class="lg:text-6xl text-5xl font-serif text-center">
            More than a <span class="text-emerald">Python</span> conference
          </h1>
          <p class="lg:text-3xl text-lg font-sans text-center font-light">
            <Bold>Brisbane</Bold> August 26-30 • Sofitel Brisbane Central
          </p>
        </div>
        <div>
          <a href="/tickets" class="btn-arrow"
            ><span>Early-Brid Tickets</span></a
          >
        </div>
      </div>
    </div>
  </section>

  <section>
    <HomeSectionDivider />

    <div class="bg-charcoal rounded-b-[3.9375rem] pt-20 pb-20 -mt-px">
      <div class="container fadeInUp">
        <div class="w-[85%] mx-auto">
          <div
            class="flex lg:flex-row flex-col lg:justify-between items-start lg:gap-y-0 gap-y-10"
          >
            <p
              class="text-intro font-medium w-1/2 text-stone lg:w-[506px] w-full"
            >
              PyCon AU is the national conference for developers using the
              Python Programming Language. Hosted annually since 2010, this
              event brings the national and international Python community
              together.
            </p>
            <div>
              <a href="/tickets" class="btn-arrow btn-arrow--emerald gap-20!"
                >Early-Bird Tickets</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="py-28 bg-stone">
    <div class="container">
      <h2
        class="fadeInUp lg:text-6xl text-5xl font-serif text-center lg:w-[65%] w-[80%] mx-auto"
      >
        What's on at an Aussie PyCon?
      </h2>

      <div class="grid lg:grid-cols-3 grid-cols-1 gap-5 pt-20">
        <ImageCard
          href="/tickets"
          src="/images/thumb-1.png"
          alt="Repeating Violet Curlyboi on black bagkround"
          title="Early-Bird Tickets"
        >
          Early-Bird Tickets
        </ImageCard>
        <ImageCard
          href="/attendee-guide"
          src="/images/thumb-2.png"
          alt="Repeating Violet Curlyboi on black bagkround"
          title="Attendee Guide"
          className="lg:translate-y-10!"
          backgroundColor="lavender"
        >
          Attendee Guide
        </ImageCard>
        <ImageCard
          href="#"
          src="/images/thumb-3.png"
          alt="Repeating Violet Curlyboi on black bagkround"
          title="Early-Bird Tickets"
        >
          Conference Roadmap
        </ImageCard>
      </div>
    </div>
  </section>

  <section class="bg-stone relative pt-64 overflow-hidden">
    <div
      class="flex justify-center absolute top-16 left-1/2 -translate-x-1/2 group w-full"
    >
      <img
        src="images/snake.svg"
        alt="snake"
        class="transform group-hover:rotate-y-180 transition-all duration-300"
      />
    </div>
    <div
      class="bg-[url('/images/rounded-bg.svg')] lg:bg-cover bg-size-[120%] bg-top pt-74"
    >
      <div class="marquee-container overflow-hidden fadeInUp">
        <div class="marquee">
          <div class="marquee-content">
            <img
              src="images/slider-1.jpg"
              class="object-cover"
              alt="slider 1"
            />
            <img
              src="images/slider-2.jpg"
              class="object-cover"
              alt="slider 2"
            />
            <img
              src="images/slider-3.jpg"
              class="object-cover"
              alt="slider 3"
            />
            <img
              src="images/slider-4.jpg"
              class="object-cover"
              alt="slider 4"
            />
            <img
              src="images/slider-5.jpg"
              class="object-cover"
              alt="slider 5"
            />
            <img
              src="images/slider-6.jpg"
              class="object-cover"
              alt="slider 6"
            />
          </div>
          <div class="marquee-content" aria-hidden="true">
            <img
              src="images/slider-1.jpg"
              class="object-cover"
              alt="slider 1"
            />
            <img
              src="images/slider-2.jpg"
              class="object-cover"
              alt="slider 2"
            />
            <img
              src="images/slider-3.jpg"
              class="object-cover"
              alt="slider 3"
            />
            <img
              src="images/slider-4.jpg"
              class="object-cover"
              alt="slider 4"
            />
            <img
              src="images/slider-5.jpg"
              class="object-cover"
              alt="slider 5"
            />
            <img
              src="images/slider-6.jpg"
              class="object-cover"
              alt="slider 6"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

  <NewsItemsWidget />

  <section class="bg-violet pt-10 pb-32 mt-[-1px]">
    <div class="container">
      <div class="fadeInUp text-center space-y-10 text-white">
        <h3 class="lg:text-5xl text-4xl font-serif">Meet our sponsors</h3>
        <p class="text-center font-sans leading-[1.55] lg:w-[40%] mx-auto">
          The conference could not run without the generous support of our
          sponsors. We thank them for their financial commitment, and ongoing
          support and encouragement to make PyCon AU a special moment for our
          vibrant developer community.
        </p>
      </div>

      <div class="fadeInUp flex flex-wrap lg:flex-nowrap justify-center mt-20">
        <a
          href="#"
          class="lg:flex hidden bg-white lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
          ><img src="images/valkey.svg" alt="valkey" class="w-[80%]" /></a
        >
        <a
          href="#"
          class="lg:flex hidden bg-emerald lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:flex hidden bg-lemon lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:flex hidden bg-coral lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:flex hidden bg-white lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
          ><img src="images/valkey.svg" alt="valkey" class="w-[80%]" /></a
        >
        <a
          href="#"
          class="lg:flex hidden bg-lemon lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:flex hidden bg-lime lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
      </div>
      <div
        class="fadeInUp flex flex-wrap lg:flex-nowrap justify-center lg:-mt-5"
      >
        <a
          href="#"
          class="lg:hidden flex bg-white lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
          ><img src="images/valkey.svg" alt="valkey" class="w-[80%]" /></a
        >
        <a
          href="#"
          class="lg:hidden flex bg-emerald lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:hidden flex bg-lemon lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:hidden flex bg-coral lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:hidden flex bg-white lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
          ><img src="images/valkey.svg" alt="valkey" class="w-[80%]" /></a
        >
        <a
          href="#"
          class="lg:hidden flex bg-lemon lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>
        <a
          href="#"
          class="lg:hidden flex bg-lime lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full items-center justify-center group"
        ></a>

        <a
          href="#"
          class="bg-lime lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
        <a
          href="#"
          class="bg-lavender lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
        <a
          href="#"
          class="bg-coral lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
        <a
          href="#"
          class="bg-white lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
          ><img src="images/valkey.svg" alt="valkey" class="w-[80%]" /></a
        >
        <a
          href="#"
          class="bg-lime lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
        <a
          href="#"
          class="bg-emerald lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
        <a
          href="#"
          class="bg-lavender lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
        <a
          href="#"
          class="bg-emerald lg:w-[159px] lg:h-[159px] w-[107px] h-[107px] rounded-full flex items-center justify-center group"
        ></a>
      </div>

      <div class="fadeInUp h-[81px] flex justify-center mt-14 mx-auto">
        <a href="#" class="btn-arrow btn-arrow--lemon btn-arrow--medium"
          ><span>Download our Sponsorship Prospectus</span></a
        >
      </div>
    </div>
  </section>

  <section class="bg-[#313131]">
    <div class="footer-divider"></div>
    <div class="container">
      <div class="grid lg:grid-cols-3 grid-cols-1 gap-5 pt-20 pb-32">
        <div
          class="fadeInUp bg-emerald text-white rounded-[3.125rem] text-center p-10 flex justify-center"
        >
          <div
            class="flex flex-col lg:w-[80%] w-full gap-7 justify-between h-full"
          >
            <div class="space-y-4">
              <h3
                class="text-5xl font-serif font-normal -tracking-[0.02em] leading-[1.1]"
              >
                Connect
              </h3>
              <p class="mx-auto font-sans leading-tight">
                Follow us on social media for updates!
              </p>
            </div>
            <div class="flex gap-3 justify-center">
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[40px] text-emerald"
                ><i class="fa-brands fa-linkedin-in"></i></a
              >
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[35px] text-emerald"
                ><i class="fa-brands fa-bluesky"></i></a
              >
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[40px] text-emerald"
                ><i class="fa-brands fa-mastodon"></i></a
              >
              <a
                href="#"
                class="bg-white p-1 rounded-lg w-[63px] hover:rounded-none transition-all duration-300 h-[63px] flex justify-center items-center text-[40px] text-emerald"
                ><i class="fa-brands fa-youtube"></i></a
              >
            </div>
          </div>
        </div>
        <div
          class="fadeInUp lg:translate-y-7 bg-violet text-white rounded-[3.125rem] text-center p-10 flex justify-center"
        >
          <div
            class="flex flex-col lg:gap-0 gap-10 lg:w-[67%] w-full justify-between h-full"
          >
            <div class="space-y-4">
              <h3
                class="text-5xl font-serif font-normal -tracking-[0.02em] leading-[1.1]"
              >
                Subscribe
              </h3>
              <p class="mx-auto font-sans leading-tight">
                Join the mailing list for major news and announcements.
              </p>
            </div>
            <a href="#" class="btn btn--stone">Sign Up</a>
          </div>
        </div>
        <div
          class="fadeInUp bg-lavender text-white rounded-[3.125rem] text-center p-10 flex justify-center"
        >
          <div
            class="flex flex-col lg:gap-0 gap-10 lg:w-[80%] w-full justify-between h-full"
          >
            <div class="space-y-4">
              <h3
                class="text-5xl font-serif font-normal -tracking-[0.02em] leading-[1.1]"
              >
                Get in touch
              </h3>
              <p class="mx-auto font-sans leading-tight">
                Reach us by email for help and support.
              </p>
            </div>
            <a
              href="#"
              class="underline text-lg font-sans hover:text-lime transition-all duration-300"
              >contact@pycon.org.au</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />

  <!-- Main scripts (will be added in Phase 5) -->
  <script src="/src/scripts/animations.js"></script>
</Base>
