<div class="section-divider fadeInUp">
  <svg
    id="Layer_2"
    data-name="Layer 2"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    viewBox="0 0 2616.13 337.67"
  >
    <defs>
      <style>
        .cls-1 {
          fill: none;
        }

        .cls-2 {
          fill: #bdf461;
        }

        .cls-3 {
          fill: #b280ff;
        }

        .cls-4 {
          fill: #249f4f;
        }

        .cls-5 {
          clip-path: url(#clippath-1);
        }

        .cls-6 {
          clip-path: url(#clippath-3);
        }

        .cls-7 {
          clip-path: url(#clippath-4);
        }

        .cls-8 {
          clip-path: url(#clippath-2);
        }

        .cls-9 {
          clip-path: url(#clippath-5);
        }

        .cls-10 {
          fill: #020202;
        }

        .cls-11 {
          fill: #511fe5;
        }

        .cls-12 {
          fill: #ef553c;
        }

        .cls-13 {
          fill: #259f4f;
        }

        .cls-14 {
          clip-path: url(#clippath);
        }
      </style>
      <clipPath id="clippath">
        <path
          class="cls-10"
          d="M747.75,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.67-55.83-126.36-124.46-126.36Z"
        ></path>
      </clipPath>
      <clipPath id="clippath-1">
        <path
          class="cls-1"
          d="M1121.54,337.67c-68.62,0-124.64-55.9-124.64-124.6l-.29-86.75h124.78v84.98h124.61c0,69.68-55.83,126.36-124.46,126.36h0Z"
        ></path>
      </clipPath>
      <clipPath id="clippath-2">
        <path
          class="cls-10"
          d="M1495.26,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.67-55.83-126.36-124.46-126.36Z"
        ></path>
      </clipPath>
      <clipPath id="clippath-3">
        <path
          class="cls-10"
          d="M1993.44,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.67-55.83-126.36-124.46-126.36Z"
        ></path>
      </clipPath>
      <clipPath id="clippath-4">
        <path
          class="cls-10"
          d="M249.57,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61C374.03,56.68,318.2,0,249.57,0Z"
        ></path>
      </clipPath>
      <clipPath id="clippath-5">
        <path
          class="cls-1"
          d="M2367.03,337.67c-68.62,0-124.64-55.9-124.64-124.6l-.29-86.75h124.78v84.98h124.61c0,69.68-55.83,126.36-124.46,126.36h0Z"
        ></path>
      </clipPath>
      <image
        id="image"
        width="634"
        height="484"
        xlink:href="/images/section-divider-mask-1.jpg"
      />
      <image
        id="image-2"
        width="634"
        height="484"
        xlink:href="/images/section-divider-mask-2.jpg"
      />
      <image
        id="image-3"
        width="634"
        height="484"
        xlink:href="/images/section-divider-mask-3.jpg"
      />
    </defs>
    <g id="Layer_1-2" data-name="Layer 1">
      <g>
        <path
          class="cls-4"
          d="M623.23,337.67c-68.62,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.6c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-3"
          d="M872.39,337.67c-68.62,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.61c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-12"
          d="M996.96,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.68-55.83-126.36-124.46-126.36"
        ></path>
        <path
          class="cls-2"
          d="M1245.97.54c-68.02,0-124.63,55.9-124.63,124.6l-.06,86.42h124.55v-84.66h124.61c0-69.67-55.83-126.36-124.46-126.36"
        ></path>
        <path
          class="cls-11"
          d="M498.54,0c-68.02,0-124.63,55.9-124.63,124.6l-.06,86.57h124.55v-84.81h124.61c0-69.68-55.83-126.36-124.46-126.36"
        ></path>
        <path
          class="cls-11"
          d="M124.92,337.67C56.3,337.67.29,281.77.29,213.07l-.29-86.75h124.78v84.98h124.61c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-12"
          d="M374.32,337.67c-68.62,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.6c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-2"
          d="M1868.93,337.67c-68.62,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.6c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-3"
          d="M2118.09,337.67c-68.62,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.61c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-12"
          d="M2242.66,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.68-55.83-126.36-124.46-126.36"
        ></path>
        <path
          class="cls-2"
          d="M2491.67.54c-68.02,0-124.63,55.9-124.63,124.6l-.06,86.42h124.55v-84.66h124.61c0-69.67-55.83-126.36-124.46-126.36"
        ></path>
        <path
          class="cls-13"
          d="M1744.24,0c-68.02,0-124.63,55.9-124.63,124.6l-.06,86.57h124.55v-84.81h124.61c0-69.68-55.83-126.36-124.46-126.36"
        ></path>
        <path
          class="cls-11"
          d="M1370.62,337.67c-68.63,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.61c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <path
          class="cls-12"
          d="M1620.01,337.67c-68.62,0-124.63-55.9-124.63-124.6l-.29-86.75h124.78v84.98h124.6c0,69.68-55.83,126.36-124.46,126.36"
        ></path>
        <g>
          <path
            class="cls-10"
            d="M747.75,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.67-55.83-126.36-124.46-126.36Z"
          ></path>
          <g class="cls-14">
            <use
              transform="translate(593.82 .51) scale(.48)"
              xlink:href="#image-3"></use>
          </g>
        </g>
        <g class="cls-5">
          <use
            transform="translate(974.69 117.45) scale(.46)"
            xlink:href="#image-2"></use>
        </g>
        <g>
          <path
            class="cls-10"
            d="M1495.26,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.67-55.83-126.36-124.46-126.36Z"
          ></path>
          <g class="cls-8">
            <use
              transform="translate(1352.68 -.8) scale(.44)"
              xlink:href="#image"></use>
          </g>
        </g>
        <g>
          <path
            class="cls-10"
            d="M1993.44,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61c0-69.67-55.83-126.36-124.46-126.36Z"
          ></path>
          <g class="cls-6">
            <use
              transform="translate(1839.51 .51) scale(.48)"
              xlink:href="#image-3"></use>
          </g>
        </g>
        <g>
          <path
            class="cls-10"
            d="M249.57,0c-68.62,0-124.63,55.9-124.63,124.6l-.29,86.75h124.78v-84.99h124.61C374.03,56.68,318.2,0,249.57,0Z"
          ></path>
          <g class="cls-7">
            <use transform="translate(107 -.8) scale(.44)" xlink:href="#image"
            ></use>
          </g>
        </g>
        <g class="cls-9">
          <use
            transform="translate(2220.17 117.45) scale(.46)"
            xlink:href="#image-2"></use>
        </g>
      </g>
    </g>
  </svg>
</div>
