---
import { clsx } from "clsx";
import HeaderTopNavItem from "./typography/HeaderTopNavItem.astro";

export interface Props {
  dark: boolean;
}

const { dark } = Astro.props;
---

<header
  class={clsx(dark && "header-dark", "absolute top-0 left-0 w-full z-20")}
>
  <div class="header-bg"></div>

  <div class="container">
    <div class="flex justify-between items-center pt-10 pb-10">
      <div class="flex items-center gap-20">
        <a href="links.html">
          <svg
            class="logo"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            width="130"
            height="41.595"
            viewBox="0 0 130 41.595"
            ><defs
              ><clipPath id="a"
                ><rect width="130" height="41.595"></rect></clipPath
              ></defs
            ><g clip-path="url(#a)"
              ><path
                d="M322.318,39.1a6.773,6.773,0,0,0,2.748-2.833,9.541,9.541,0,0,0,1-4.433,9.752,9.752,0,0,0-1.014-4.509,7.347,7.347,0,0,0-2.771-2.954,8.044,8.044,0,0,0-4.171-1.056,8.172,8.172,0,0,0-4.137,1.023,7.131,7.131,0,0,0-2.818,2.94,9.615,9.615,0,0,0-1.028,4.523,9.3,9.3,0,0,0,1.012,4.435,6.883,6.883,0,0,0,2.807,2.847,9.264,9.264,0,0,0,8.375.014Zm-4.24-11.68a3.509,3.509,0,0,1,2.221.614,3.736,3.736,0,0,1,1.2,1.642,6.06,6.06,0,0,1,.383,2.132,5.911,5.911,0,0,1-.381,2.114,3.382,3.382,0,0,1-1.2,1.574,3.73,3.73,0,0,1-2.213.6,3.627,3.627,0,0,1-2.182-.6,3.4,3.4,0,0,1-1.2-1.558,5.849,5.849,0,0,1-.381-2.128,5.95,5.95,0,0,1,.383-2.13,3.7,3.7,0,0,1,1.209-1.642,3.464,3.464,0,0,1,2.174-.616Z"
                transform="translate(-249.807 -18.667)"></path><path
                d="M416.223,27.12a5.6,5.6,0,0,0-1.8-2.758,5.654,5.654,0,0,0-3.6-1.038,8.629,8.629,0,0,0-1.663.183,6.262,6.262,0,0,0-1.757.667,5.108,5.108,0,0,0-1.187.923l-.169-1.505h-4.263V39.825h4.552V31.812A6.48,6.48,0,0,1,406.7,29.6a3.458,3.458,0,0,1,1.087-1.563,2.934,2.934,0,0,1,1.814-.55,2.628,2.628,0,0,1,1.389.437,2.238,2.238,0,0,1,.778.864,4.189,4.189,0,0,1,.4,1.243,8.8,8.8,0,0,1,.114,1.4v8.4h4.5v-8.94A12.153,12.153,0,0,0,416.223,27.12Z"
                transform="translate(-323.639 -18.674)"></path><path
                d="M409.4,139.915a6.584,6.584,0,0,0,1.812-.667,5.117,5.117,0,0,0,1.187-.923l.169,1.505h4.208V123.252h-4.5v8.357a6.142,6.142,0,0,1-.364,2.156,3.3,3.3,0,0,1-1.087,1.507,3.1,3.1,0,0,1-1.869.55,2.435,2.435,0,0,1-1.332-.322,2.234,2.234,0,0,1-.778-.864,4.2,4.2,0,0,1-.4-1.243,8.81,8.81,0,0,1-.114-1.4V123.25h-4.552v9.284a12.153,12.153,0,0,0,.552,3.768,5.175,5.175,0,0,0,5.456,3.8,8.11,8.11,0,0,0,1.608-.183Z"
                transform="translate(-323.639 -98.677)"></path><path
                d="M65.922,32.491a9.738,9.738,0,0,1-.191,2.186,3.441,3.441,0,0,1-.924,1.656,2.923,2.923,0,0,1-2.042.641,3.306,3.306,0,0,1-1.677-.369,2.329,2.329,0,0,1-.875-.963,4.133,4.133,0,0,1-.385-1.354,13.743,13.743,0,0,1-.086-1.527V24.8H55.377v8.936A11.389,11.389,0,0,0,55.99,37.6a5.123,5.123,0,0,0,2.026,2.569,6.823,6.823,0,0,0,4.365,1.106,6.135,6.135,0,0,0,4.175-1.614,43.511,43.511,0,0,1-.68,6.26l-.692-.206c-7.137-2.049-19.067-4.028-21.064,3.77-.955,3.732.655,7.775,4.93,10.036a15.317,15.317,0,0,0,6.983,1.721A12.39,12.39,0,0,0,67.109,54.8a16.739,16.739,0,0,0,1.58-3.786,52.018,52.018,0,0,0,12.691,2.321c5.776.208,9.094-.389,13.965-2.944L93.4,47.38c-2.6,1.443-6.2,2.456-11.516,2.261a49.257,49.257,0,0,1-12.214-2.573c.326-2.158.593-4.749.705-7.068.075-1.036.145-2.728.145-2.728.047-2.1.037-4.136,0-5.877V24.8h-4.6v7.691ZM48.445,50.86c.468-2.841,3.117-3.226,6.126-3.226,2.07,0,3.947.387,7.736,1.447.428.119,1.22.4,1.69.578.385.141,1.108.461,1.108.461a11.788,11.788,0,0,1-2.135,3.907,9.521,9.521,0,0,1-11.158,2.1c-2.174-1-3.691-3.316-3.371-5.271Z"
                transform="translate(-35.325 -19.855)"></path><path
                d="M0,24.913H4.489V17.422H8.432a11.428,11.428,0,0,0,4.766-.949A7.606,7.606,0,0,0,16.522,13.6a8.7,8.7,0,0,0,1.222-4.751,9.551,9.551,0,0,0-1.1-4.813,6.559,6.559,0,0,0-3.1-2.71A11.788,11.788,0,0,0,8.892.485H0v24.43Zm4.487-20.1H8.7a4.908,4.908,0,0,1,3.4,1,3.872,3.872,0,0,1,1.073,2.974A4.031,4.031,0,0,1,11.874,12.1a5.444,5.444,0,0,1-3.506,1.062H4.489V4.809Z"
                transform="translate(0 -0.388)"></path><path
                d="M200.43,1.6a10.256,10.256,0,0,0-3.817,4.435,15.357,15.357,0,0,0-1.3,6.478,15.474,15.474,0,0,0,1.266,6.441,9.857,9.857,0,0,0,3.788,4.368,11.475,11.475,0,0,0,6.174,1.569,11.931,11.931,0,0,0,4.75-.913,9.051,9.051,0,0,0,3.524-2.648,8.333,8.333,0,0,0,1.735-4.066l.045-.28h-4.609l.018.048A4.263,4.263,0,0,1,211,18.871a4.85,4.85,0,0,1-1.812,1.207,7.063,7.063,0,0,1-2.551.423,6.119,6.119,0,0,1-3.819-1.132,6.5,6.5,0,0,1-2.162-2.994,11.7,11.7,0,0,1-.688-4.03,11.2,11.2,0,0,1,.656-3.895,6.418,6.418,0,0,1,2.1-2.927,7.063,7.063,0,0,1,7.351-.2,4.414,4.414,0,0,1,1.771,2.563l.047.177H216.3l-.041-.276a9.091,9.091,0,0,0-1.667-4.209A8.6,8.6,0,0,0,211.246.931a12.41,12.41,0,0,0-10.818.673Z"
                transform="translate(-157.327 0)"></path><path
                d="M319.642,120.583a12.626,12.626,0,0,0-7.1,2.172l1.806,2.954a11,11,0,0,1,5.328-1.638c2.881.036,3.389,2.057,3.43,3.1a29.355,29.355,0,0,0-5.871.095,8.888,8.888,0,0,0-2.51.854,4.168,4.168,0,0,0-1.812,1.646,5.135,5.135,0,0,0-.694,2.789,5.6,5.6,0,0,0,.521,2.345,5.035,5.035,0,0,0,1.419,1.717,5.808,5.808,0,0,0,1.885,1.023,6.5,6.5,0,0,0,2.123.316,10.685,10.685,0,0,0,1.679-.125,6.973,6.973,0,0,0,2.089-.707,4.743,4.743,0,0,0,1.48-1.209l.079,1.781h3.97v-8.835a8.155,8.155,0,0,0-1.677-5.656,7.692,7.692,0,0,0-6.138-2.619Zm3.573,9.879a3.257,3.257,0,0,1-.562,1.886,3.657,3.657,0,0,1-1.521,1.221,4.946,4.946,0,0,1-2.209.514,3.533,3.533,0,0,1-1.331-.24,2.281,2.281,0,0,1-.981-.651,1.626,1.626,0,0,1-.4-1.094,1.607,1.607,0,0,1,.362-1.076,2.071,2.071,0,0,1,.894-.582,5.678,5.678,0,0,1,1.323-.254,43.26,43.26,0,0,1,4.422-.048v.326Z"
                transform="translate(-251.492 -96.538)"></path><path
                class="hidden"
                d="M523.5,107.516a6.217,6.217,0,0,0,.812-1.858,8.971,8.971,0,0,0,.254-2.214,6.558,6.558,0,0,0-.855-3.292,6.713,6.713,0,0,0-2.319-2.423,6.368,6.368,0,0,0-6.539-.022,6.709,6.709,0,0,0-2.341,2.4,6.517,6.517,0,0,0-.877,3.337h1.218a5.355,5.355,0,0,1,.689-2.668,5.412,5.412,0,0,1,1.877-1.97,5.182,5.182,0,0,1,5.321-.015,5.488,5.488,0,0,1,1.9,1.947,5.277,5.277,0,0,1,.711,2.705,7.541,7.541,0,0,1-.392,2.474,6.116,6.116,0,0,1-1.725,2.371l-9.772,9.125-.029,1.248h13.135v-1.248H513.253l8.788-8.2a8.992,8.992,0,0,0,1.457-1.694"
                transform="translate(-411.959 -77.512)"></path><path
                class="hidden"
                d="M609.824,108.394a7.262,7.262,0,0,0-2.523-2.586,6.568,6.568,0,0,0-3.494-.966,6.379,6.379,0,0,0-3.654,1.108,7.723,7.723,0,0,0-2.088,2.075V103.95a5.833,5.833,0,0,1,.754-2.913,5.972,5.972,0,0,1,2.051-2.155,5.652,5.652,0,0,1,5.843-.008,5.8,5.8,0,0,1,2.051,2.133l1.044-.624a6.9,6.9,0,0,0-2.487-2.586,6.82,6.82,0,0,0-7.024-.015,7.2,7.2,0,0,0-2.516,2.586,7.04,7.04,0,0,0-.935,3.582v8.025a6.992,6.992,0,0,0,.943,3.581,7.261,7.261,0,0,0,2.522,2.586,6.8,6.8,0,0,0,6.988,0,7.259,7.259,0,0,0,2.523-2.586,7.28,7.28,0,0,0,0-7.163m-1.044,6.554a5.832,5.832,0,0,1-2.073,2.125,5.73,5.73,0,0,1-5.8,0,5.966,5.966,0,0,1,0-10.195,5.731,5.731,0,0,1,5.8,0,6.038,6.038,0,0,1,2.073,8.07"
                transform="translate(-480.766 -77.513)"></path></g
            ></svg
          >
        </a>
        <ul class="lg:flex hidden items-center gap-10 main-menu">
          <li>
            <HeaderTopNavItem href="/program">Program</HeaderTopNavItem>
          </li>
          <li>
            <HeaderTopNavItem href="/attendee-guide"
              >Attendee Guide</HeaderTopNavItem
            >
          </li>
          <li>
            <HeaderTopNavItem href="/sponsors">Sponsors</HeaderTopNavItem>
          </li>
        </ul>
      </div>
      <div class="lg:flex hidden items-center gap-7">
        <ul class="flex items-center gap-7 main-menu">
          <li>
            <a href="#" class="font-sans font-semibold hover:text-emerald"
              >News & Updates</a
            >
          </li>
          <li class="relative group">
            <a href="#" class="font-sans font-semibold hover:text-emerald"
              >About</a
            >

            <ul class="sub-menu">
              <li>
                <a
                  href="#"
                  class="text-sm font-semibold font-sans hover:text-emerald"
                  >The Conference</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm font-semibold font-sans hover:text-emerald"
                  >Culture & Community</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm font-semibold font-sans hover:text-emerald"
                  >Our Team</a
                >
              </li>
              <li>
                <a
                  href="#"
                  class="text-sm font-semibold font-sans hover:text-emerald"
                  >Volunteer</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <a href="#" class="btn">Get Tickets</a>
      </div>

      <a href="#" class="btn block lg:hidden py-1! px-3!">Get Tickets</a>
      <a href="#" class="lg:hidden block">
        <svg
          class="mobile-menu"
          xmlns="http://www.w3.org/2000/svg"
          width="31"
          height="24.17"
          viewBox="0 0 31 24.17"
          ><g transform="translate(-329.5 -52)"
            ><path
              d="M31,1.5H0v-3H31Z"
              transform="translate(329.5 53.5)"
              fill="#282828"></path><path
              d="M19,1.5H0v-3H19Z"
              transform="translate(329.5 64.085)"
              fill="#282828"></path><path
              d="M31,1.5H0v-3H31Z"
              transform="translate(329.5 74.67)"></path></g
          ></svg
        >
      </a>
    </div>
  </div>
</header>
