---
// Reusable Register button component
interface Props {
  class?: string;
  ctaText?: string;
}

const { class: className = "", 
  ctaText = "Register Today!"
 } = Astro.props;
---

<a
  href="https://pretix.eu/pyconau/2026/"
  class={`inline btn btn-secondary ${className}`}
>
  {ctaText}
</a>
