---
// Social media links section
---

<section
  class="slide-up bg-brand-secondary lg:rounded-tl-[5.9rem] lg:rounded-tr-[5.9rem] rounded-tl-[2.3rem] rounded-tr-[2.3rem] mt-[-5.9rem] relative z-20 pb-[5.9rem]"
>
  <div class="2xl:container 2xl:mx-auto lg:px-20 px-10 py-20">
    <div class="max-w-[873px] 2xl:max-w-[1120px] mx-auto text-center">
      <h4 class="2xl:text-[2.62rem] lg:text-2xl text-lg font-roboto-slab font-regular mt-10">
        Follow us on <a
          href="https://mastodon.pycon.org.au/@pyconau"
          class="hover:text-pycon-accent underline">Mastodon</a
        >, <a
          href="https://linkedin.com/company/pyconau"
          class="hover:text-pycon-accent underline">LinkedIn</a
        > & <a
          href="https://bsky.app/profile/pyconau.bsky.social"
          class="hover:text-pycon-accent underline">Bluesky</a
        >.
      </h4>

      <div class="flex justify-center mt-10 gap-3">
        <a
          href="https://mastodon.pycon.org.au/@pyconau"
          class="fade-up-item rounded-full bg-brand-dark hover:bg-white hover:text-black transition-all duration-300 text-white w-[60px] h-[60px] grid place-content-center"
          ><i class="fa-brands text-[40px] fa-mastodon"></i></a
        >
        <a
          href="https://linkedin.com/company/pyconau"
          class="fade-up-item rounded-full bg-brand-dark hover:bg-white hover:text-black transition-all duration-300 text-white w-[60px] h-[60px] grid place-content-center"
          ><i class="fa-brands text-[35px] fa-linkedin-in"></i></a
        >
        <a
          href="https://bsky.app/profile/pyconau.bsky.social"
          class="fade-up-item rounded-full bg-brand-dark hover:bg-white hover:text-black transition-all duration-300 text-white w-[60px] h-[60px] grid place-content-center"
          ><i class="fa-brands text-[30px] fa-bluesky"></i></a
        >
      </div>
    </div>
  </div>
</section>
