---

---

<div
  class="bg-white rounded-[3.125rem] p-10 flex gap-6 items-start w-full mx-auto mb-16"
>
  <div class="shrink-0 text-[#A855F7]">
    <img src="/images/info-circle.svg" alt="Info" class="w-12 h-12" />
  </div>
  <div class="space-y-4 text-sm md:text-base text-charcoal">
    <p>
      Attendees are responsible for their own accomodation during PyCon AU. The
      conference does not have any combined or packaged registration that
      includes rooms.
    </p>
    <p>
      The conference venue is well connected via public transport. Learn more
      from our <a
        href="/attend/travel"
        class="text-[#8B5CF6] font-bold hover:underline">local travel guide</a
      >.
    </p>
  </div>
</div>
