---
import AttendNav from "../../components/attend/AttendNav.astro";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import TypographyLink from "../../components/typography/TypographyLink.astro";
import Base from "../../layouts/Base.astro";

// TODO: Edit schemaData
// TODO: In page sidebar should pull from Attendee Guide

const schemaData = {
  "@context": "https://schema.org",
  "@type": "Event",
  additionalType: "ExhibitionEvent",
  url: "https://2026.pycon.org.au/",
  name: "PyCon AU 2026",
  description:
    "PyCon AU is Australia's national conference for everyone using the Python programming language and is a must-attend event for hundreds of technologists worldwide.",
  startDate: "2026-08-26",
  endDate: "2026-08-30",
  about: {
    "@type": "ComputerLanguage",
    name: "Python",
    url: "https://www.python.org/",
  },
  location: {
    "@type": "Place",
    name: "Sofitel Brisbane Central",
    url: "https://www.sofitelbrisbane.com.au/",
    address: {
      "@type": "PostalAddress",
      streetAddress: "249 Turbot Street",
      addressLocality: "Brisbane City",
      postalCode: "4000",
      addressRegion: "QLD",
      addressCountry: "AU",
    },
  },
  eventAttendanceMode: "https://schema.org/MixedEventAttendanceMode",
  inLanguage: "en-AU",
  offers: [
    {
      "@type": "Offer",
      availability: "https://schema.org/InStock",
      url: "https://pretix.eu/pyconau/2026/",
    },
  ],
  superEvent: {
    "@type": "EventSeries",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    organizer: {
      "@id": "#organization",
    },
    sameAs: "https://www.wikidata.org/wiki/Q134350078",
  },
  organizer: {
    "@id": "#organization",
    "@type": "Organization",
    name: "PyCon AU",
    url: "https://pycon.org.au/",
    sameAs: [
      "https://mastodon.pycon.org.au/@pyconau",
      "https://bsky.app/profile/pyconau.bsky.social",
      "https://www.linkedin.com/company/pyconau/",
    ],
  },
  sameAs: ["https://www.wikidata.org/wiki/Q136290798"],
};
---

<Base title="PyCon AU 2026" schemaData={schemaData}>
  <Header dark={true} />

  <section class="bg-charcoal pt-[98px] pb-20 overflow-hidden">
    <div class="container relative">
      <img
        src="/images/star-violet.svg"
        class="spin hidden lg:block absolute left-0 top-32"
        alt=""
      />
      <div class="w-[85%] mx-auto">
        <div class="breadcrumb pt-14 fadeInUp">
          <ul
            class="flex items-center gap-2 text-lavender font-sans font-extrabold text-10pt uppercase tracking-[0.12em]"
          >
            <li class="flex items-center gap-2">
              <a href="/">Home</a><span>></span>
              <a href="/attend/">Attendee Guide</a><span>></span>
            </li>
          </ul>
        </div>
        <div class="flex justify-between items-center relative pt-10 fadeInUp">
          <div class="space-y-20 lg:w-[45%] relative">
            <div
              class="font-serif lg:text-8xl text-[3.625rem] -tracking-[0.022em] leading-none"
            >
              <h1 class="text-lavender">Refunds</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="header-divider header-divider--lavender"></div>

    <div class="bg-stone py-20">
      <div class="container">
        <div class="lg:w-[85%] w-full mx-auto">
          <div
            class="flex flex-col lg:flex-row justify-between items-start gap-14"
          >
            <div class="lg:w-[80%] w-full rich-text">
              <h1 id="ticket-transfers">Ticket transfers</h1>
              <p>
                PyCon AU tickets are transferable. Use the link in your order
                email to update the order details, or email us at <TypographyLink
                  href="mailto:contact@pycon.org.au"
                  >contact@pycon.org.au</TypographyLink
                > for assistance.
              </p>
              <p>
                Transfers made after 22 July 2026 (5 weeks prior to the
                conference) may be limited to name changes only. Included
                benefits such as t-shirts and certain dietary requirements may
                depend on supplier deadlines.
              </p>
              <h1 id="refunds">Refunds</h1>
              <p>
                Email your order code to <TypographyLink
                  href="mailto:contact@pycon.org.au"
                  >contact@pycon.org.au</TypographyLink
                > to request a refund.
              </p>
              <h2 id="partial-refunds">Partial refunds</h2>
              <p>
                We will give you a no questions asked partial refund on ticket
                purchases up until the following dates:
              </p>

              <table class="w-full">
                <thead
                  ><tr
                    ><th class="text-left">Date</th><th class="text-left"
                      >Refund amount</th
                    ></tr
                  ></thead
                ><tbody
                  ><tr
                    ><td>15 July 2026 (6 weeks before PyCon AU)</td><td
                      >90% of sale price</td
                    ></tr
                  ><tr
                    ><td>22nd of August, 2026 (3 weeks before PyCon AU)</td><td
                      >50% of sale price</td
                    ></tr
                  ></tbody
                >
              </table>
              <h2 id="full-refunds">Full refunds</h2>
              <p>
                We will give you a 100% refund in the following circumstances:
              </p>
              <ul>
                <li>
                  You become eligible for a free ticket, e.g. by having your
                  talk proposal or volunteer application accepted
                </li>
                <li>
                  You test positive for, or display symptoms of, a communicable
                  disease such as COVID-19 after the 12 August 2026 (14 days
                  prior to PyCon AU)
                </li>
                <li>
                  On compassionate grounds, at the discretion of the conference
                  director
                </li>
              </ul>
              <p>
                For a 100% refund you will need to tell us which circumstance
                applies to you and we may ask you to supply proof.
              </p>
            </div>

            <AttendNav />
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />

  <!-- Main scripts (will be added in Phase 5) -->
  <script src="/src/scripts/animations.js"></script>
</Base>
