---
import SideNavItem from "../SideNavItem.astro";
---

<div class="lg:w-[308px] w-full">
  <div class="bg-emerald rounded-[3.125rem]">
    <div class="side-nav bg-lime rounded-[3.125rem] p-10 -translate-y-5">
      <h3 class="text-intro font-semibold">Policies</h3>
      <ul class="font-medium font-sans text-charcoal space-y-4 mt-8">
        <SideNavItem href="/conduct"> Code of Conduct </SideNavItem>
        <SideNavItem href="/refunds"> Refunds Policy </SideNavItem>
      </ul>
    </div>
  </div>
</div>
