<div class="lg:w-[308px] w-full">
  <div class="bg-emerald rounded-[3.125rem]">
    <div class="side-nav bg-lime rounded-[3.125rem] p-10 -translate-y-5">
      <a href="/attend/">
        <h3 class="text-intro font-semibold">Attendee Guide</h3>
      </a>
      <ul class="font-medium font-sans text-charcoal space-y-4 mt-8">
        <li>
          {/* TODO: add  class="active-page" to active page */}
          <a
            href="/attend/conduct"
            class="hover:text-emerald transition-all duration-300"
            >Code of Conduct</a
          >
        </li>
        <li>
          <a
            href="/attend/refunds"
            class="hover:text-emerald transition-all duration-300">Refunds</a
          >
        </li>
        <li>
          <a
            href="/attend/bof"
            class="hover:text-emerald transition-all duration-300"
            >Birds of a Feather</a
          >
        </li>
        <li>
          <a
            href="/attend/faq"
            class="hover:text-emerald transition-all duration-300"
            >FAQ</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
