---
import SideNavItem from "../SideNavItem.astro";
---

<div class="lg:w-[308px] w-full">
  <div class="bg-emerald rounded-[3.125rem]">
    <div class="side-nav bg-lime rounded-[3.125rem] p-10 -translate-y-5">
      <a href="/attend/">
        <h3 class="text-intro font-semibold">Attendee Guide</h3>
      </a>
      <ul class="font-medium font-sans text-charcoal space-y-4 mt-8">
        <SideNavItem href="/attend/conduct">Code of Conduct</SideNavItem>
        <SideNavItem href="/attend/refunds">Refunds</SideNavItem>
        <SideNavItem href="/attend/bof">Birds of a Feather</SideNavItem>
        <SideNavItem href="/attend/faq">FAQ</SideNavItem>
        <SideNavItem href="/attend/volunteer">Volunteer</SideNavItem>
        <SideNavItem href="/attend/travel">Travel to PyCon AU</SideNavItem>
        <SideNavItem href="/attend/transport">Brisbane Transport</SideNavItem>
        <SideNavItem href="/attend/international-visitors">
          International Visitors
        </SideNavItem>
      </ul>
    </div>
  </div>
</div>
